<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.goods.goods_mapper">

	<!-- 상품 목록 조회 MyBatis -->
	<select id="selectUserListSQL"
		resultType="common.collection.ABox"
		parameterType="common.collection.ABox">
	<![CDATA[
		SELECT 
			* 
		FROM 
			tb_goods 
		WHERE
			GOODS_STATE = 'GS01'
		ORDER BY
			GOODS_SEQ DESC 
		LIMIT 
			0,10;
	]]>
	</select>
</mapper>